<!DOCTYPE html>
<html>
	<head>
		<% include partials/scripts %>
		<title>Administrative Panel</title>
	</head>
	<body class="bg-dark">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="/">DMIT Alumni</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
					  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<%
							if (!user) {
						%>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Account
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item active" href="/login">Login</a>
								<a class="dropdown-item" href="/register">Register</a>
							</div>
						</li>
						<%
							}
						%>
						<%
							if (user && user.uuid) {
						%>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Workshops & Events
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/workshops">Workshops</a>
								<a class="dropdown-item" href="/events">Events</a>
							</div>
						</li>
						<%
							}
						%>
						<%
							if (user && user.isAdmin) {
						%>
						<li class="nav-item">
							<a class="nav-link active" href="/admin">Administrative Panel<span class="sr-only">(current)</span></a>
						</li>
						<%
							}
						%>
						<%
							if (user) {
						%>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%=user.name%>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
						</li>
						<%
							}
						%>
					</ul>
				</div>
			</nav>
		</div>
		<div class="container py-3 text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card card-outline-secondary">
						  		<div class="card-header bg-dark">
									<h3 class="mb-0 text-white">Administrative Panel</h3>
						  		</div>
						  		<div class="card-body">
									<form class="form" action="/announce" method="POST">
										<div class="form-group">
											<label>Make an announcement</label> 
											<textarea class="form-control" id="message" name="message" placeholder="Input announcement"></textarea>
							  			</div>
							  			<div class="form-check small"></div>
										<button class="btn btn-info btn-lg" type="submit">Announce</button>
										<%
											switch (announcementStatus) {
												case 1:
										%>
												<br><br>
												<div class="alert alert-success" role="alert">
													Successfully announced to all subscribers
												</div>
										<%
													break;
												case 2:
										%>
												<br><br>
												<div class="alert alert-danger" role="alert">
													Error sending announcements
												</div>
										<%
													break;
												case 3:
										%>
												<br><br>
												<div class="alert alert-danger" role="alert">
													Error getting subscribers
												</div>
										<%
													break;
												default:
													break;
											}
										%>
									</form>
						  		</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-3 text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card card-outline-secondary">
						  		<div class="card-header bg-dark">
									<h3 class="mb-0 text-white">Add Workshop</h3>
						  		</div>
						  		<div class="card-body">
									<form class="form" action="/addworkshop" enctype="multipart/form-data" method="POST">
										<div class="form-group">
											<label>Workshop Name</label> 
											<input class="form-control" id="workshopName" name="workshopName" required type="text">
							  			</div
										<div class="form-group">
											<label>Description</label> 
											<textarea class="form-control" id="workshopDesc" name="workshopDesc" placeholder="Input Description"></textarea>
							  			</div>
										<div class="form-group">
											<label>Workshop Date</label> 
											<input class="form-control" id="workshopDate" name="workshopDate" required type="date">
							  			</div>
										<div class="form-group">
											<label>Workshop Thumbnail (If any)</label> 
            								<input class="form-control" type="file" name="file">
							  			</div>
										<div class="form-check small"></div>
										<div class="form-group">
											<button class="btn btn-info btn-lg" type="submit">Add Workshop</button>
							  			</div>
										<%
											switch (addworkshopStatus) {
												case 1:
										%>
												<br>
												<div class="alert alert-danger" role="alert">
													Failed to create upload folder
												</div>
										<%
													break;
												case 2:
										%>
												<br>
												<div class="alert alert-danger" role="alert">
													Error adding workshop to database
												</div>
										<%
													break;
												case 3:
										%>
												<br>
												<div class="alert alert-danger" role="alert">
													File System Error
												</div>
										<%
													break;
												case 4:
										%>
												<br>
												<div class="alert alert-success" role="alert">
													Successfully added workshop
												</div>
										<%
													break;
												default:
													break;
											}
										%>
									</form>
						  		</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-3 text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card card-outline-secondary">
						  		<div class="card-header bg-dark">
									<h3 class="mb-0 text-white">Add Event</h3>
						  		</div>
						  		<div class="card-body">
									<form class="form" action="/addevent" enctype="multipart/form-data" method="POST">
										<div class="form-group">
											<label>Event Name</label> 
											<input class="form-control" id="eventName" name="eventName" required type="text">
							  			</div
										<div class="form-group">
											<label>Description</label> 
											<textarea class="form-control" id="eventDesc" name="eventDesc" placeholder="Input Description"></textarea>
							  			</div>
										<div class="form-group">
											<label>Event Date</label> 
											<input class="form-control" id="eventDate" name="eventDate" required type="date">
							  			</div>
										<div class="form-group">
											<label>Event Thumbnail (If any)</label> 
            								<input class="form-control" type="file" name="file">
							  			</div>
										<div class="form-check small"></div>
										<div class="form-group">
											<button class="btn btn-info btn-lg" type="submit">Add Event</button>
							  			</div>
										<%
											switch (addeventStatus) {
												case 1:
										%>
												<br>
												<div class="alert alert-danger" role="alert">
													Failed to create upload folder
												</div>
										<%
													break;
												case 2:
										%>
												<br>
												<div class="alert alert-danger" role="alert">
													Error adding event to database
												</div>
										<%
													break;
												case 3:
										%>
												<br>
												<div class="alert alert-danger" role="alert">
													File System Error
												</div>
										<%
													break;
												case 4:
										%>
												<br>
												<div class="alert alert-success" role="alert">
													Successfully added event
												</div>
										<%
													break;
												default:
													break;
											}
										%>
									</form>
						  		</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-3 text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card card-outline-secondary">
						  		<div class="card-header bg-dark">
									<h3 class="mb-0 text-white">Workshops</h3>
						  		</div>
						  		<div class="card-body">
								<table class="table-responsive">
									<thead>
										<tr>
											<th scope="col">Workshop Name</th>
											<th scope="col">Preview</th>
											<th scope="col">Description</th>
											<th scope="col">Workshop Date</th>
											<th scope="col">Attendance</th>
											<th scope="col">Register</th>
											<th scope="col">Remove Workshop</th>
										</tr>
									</thead>
									<tbody>
										<%
											if (workshops && workshops.length) {
												workshops.forEach(function(ws) {
										%>
													<tr>
													<th scope="row"><%= ws.workshopName %></th>
													<td><img class="img-fluid img-thumbnail" src="<%= ws.workshopThumbnail %>"></img></td>
													<td><%= ws.description %></td>
													<td><%= ws.workshopDate %></td>
													<td><a href="/attendance/workshop/<%= ws.uuid %>">View Attendance</a></td>
													<td><a href="/workshop/<%= ws.uuid %>">Register</a></td>
													<td><a href="/removeworkshop/<%= ws.uuid %>">Remove Workshop</a></td>
													</tr>
										<%
												})
											}
										%>
									</tbody>
								</table>
						  		</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-3 text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card card-outline-secondary">
						  		<div class="card-header bg-dark">
									<h3 class="mb-0 text-white">Events</h3>
						  		</div>
						  		<div class="card-body">
								<table class="table-responsive">
									<thead>
										<tr>
											<th scope="col">Event Name</th>
											<th scope="col">Preview</th>
											<th scope="col">Description</th>
											<th scope="col">Event Date</th>
											<th scope="col">Attendance</th>
											<th scope="col">Register</th>
											<th scope="col">Remove Event</th>
										</tr>
									</thead>
									<tbody>
										<%
											if (events && events.length) {
												events.forEach(function(e) {
										%>
													<tr>
													<th scope="row"><%= e.eventName %></th>
													<td><img class="img-fluid img-thumbnail" src="<%= e.eventThumbnail %>"></img></td>
													<td><%= e.description %></td>
													<td><%= e.eventDate %></td>
													<td><a href="/attendance/event/<%= e.uuid %>">View Attendance</a></td>
													<td><a href="/event/<%= e.uuid %>">Register</a></td>
													<td><a href="/removeevent/<%=e.uuid %>">Remove Event</a></td>
													</tr>
										<%
												})
											}
										%>
									</tbody>
								</table>
						  		</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>