<!DOCTYPE html>
<html>
	<head>
		<% include partials/scripts %>
		<title>DMIT Alumni</title>
	</head>
	<body class="bg-dark">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="/">DMIT Alumni</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<% 
							if (!user) { 
						%>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Account
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/login">Login</a>
								<a class="dropdown-item" href="/register">Register</a>
							</div>
						</li>
						<% 
							}
						%>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Events
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/workshops">Workshops</a>
								<a class="dropdown-item" href="/events">Upcoming Events</a>
							</div>
						</li>
						<%
							if (user && user.isAdmin) {
						%>
						<li class="nav-item">
							<a class="nav-link" href="/admin">Administrative Panel</a>
						</li>
						<%
							}
						%>
						<%
							if (user) {
						%>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%=user.name%>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
						</li>
						<%
							}
						%>
					</ul>
				</div>
			</nav>
		</div>
		<%
			if (data) {
		%>
		<div class="container py-3 text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="card card-outline-secondary">
						  		<div class="card-header bg-dark">
									<h3 class="mb-0 text-white"><%=data.workshopName%></h3>
						  		</div>
						  		<div class="card-body">
									<form class="form" action="/upload_file" enctype="multipart/form-data" method="POST">
										<div class="form-group">
											<label>Workshop UUID</label><br> 
											<label class="form-control"><%=data.uuid%></label>
											<input class="form-control" type="text" name="uuid" id="uuid" value=<%=data.uuid%> hidden> 
										</div>
										<div class="form-group">
											<label>Workshop Name</label><br>
											<label><%=data.workshopName%></label> 
										</div>
										<div class="form-group">
											<label>Workshop Description</label><br>
											<label class="form-control"><%=data.description%></label> 
										</div>
										<div class="form-group">
											<label>Workshop Date</label><br>
											<label class="form-control"><%=data.workshopDate%></label>
										</div>
										<div class="form-group">
											<input class="form-control" type="text" name="workshopOrEvent" id="workshopOrEvent" value="1" hidden> 
										</div>
										<div class="form-group">
											<label>Upload CSV</label><br>
											<input class="form-control" type="file" name="file">
										</div>
							  			<div class="form-check small"></div>
										<button class="btn btn-info btn-lg" type="submit">Register</button>
										<%
											switch (registrationStatus) {
												case 1:
										%>
												<br><br>
												<div class="alert alert-success" role="alert">
													Successfully registered for the workshop
												</div>
										<%
													break;
												case 2:
										%>
												<br><br>
												<div class="alert alert-danger" role="alert">
													File Size Exceeded! Please try a smaller file size.
												</div>
										<%
													break;
												case 3:
										%>
												<br><br>
												<div class="alert alert-danger" role="alert">
													File System Error. Please contact the web administrator.
												</div>
										<%
													break;
												case 4:
										%>
												<br><br>
												<div class="alert alert-danger" role="alert">
													Internal Server Error. If this persists, please contact the web administrator.
												</div>
										<%
													break;
												case 5:
										%>
												<br><br>
												<div class="alert alert-primary" role="alert">
													You have already registered
												</div>
										<%
													break;
												default:
													break;
											}
										%>
									</form>
						  		</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
		<%
			}
		%>
	</body>
</html>